{% for item in items %}
<a href="{% url 'item:detail' item.id %}" class="group">
    <div class="flex flex-col h-full rounded-lg shadow-md overflow-hidden transition-transform transform group-hover:scale-105 bg-white">
        <div class="aspect-[3/4] overflow-hidden">
            <img class="w-full h-full object-contain" src="{{ item.image.url }}" alt="{{ item.name|truncatewords:3 }}">
        </div>

        <div class="flex flex-col flex-grow p-4">
            <h2 class="text-lg font-bold text-gray-800 group-hover:text-teal-600">{{ item.name|truncatewords:10 }}</h2>
            <p class="text-gray-600 mt-2 text-sm flex-grow">{{ item.description|truncatewords:20 }}</p>

            <div class="mt-4 flex items-center justify-between">
                <span class="text-lg font-bold text-teal-600">{{ item.price }} Tk.</span>
                <span class="bg-teal-500 text-white px-3 py-2 rounded-lg text-sm font-medium">View Details</span>
            </div>
        </div>
    </div>
</a>
{% endfor %}
